$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;

$color-white:#fff;


//button-background-color(Green)
$color-primary:#26b67c;

//light green to dark green
$color-primary-light:#2cca8a;
$color-primary-dark:#166142;


//James homepage Color
$color-james-light:#a71731;
$color-james-dark:#6d444b;


// card-1 back side(orangish)
$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

//card-2 backside(bluish)
$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;


//Magenta type for second tour card(customized by me)
$color-magenta-light:#a9664e;
$color-magenta-dark:#77290c;


$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;


$color-black:#000; 



//FONT
$default-font-size:1.6rem;



// GRID
$grid-width:114rem;
$gutter-vertical:10rem;
$gutter-horizontal:4rem;